<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>mintvue</title>
  </head>
  <body>
    <div id="app">
    </div>
    <!-- <div id="login">
    	<mt-field v-model='email' label="邮箱" placeholder="请输入邮箱" type="email"></mt-field>
		<mt-field v-model='password' label="密码" placeholder="请输入密码" type="password"></mt-field>
		<mt-button type="danger" size="small" icon="button" @click.native="tijiao">提交</mt-button>
    </div> -->
    
    <!-- built files will be auto injected -->
  </body>
</html>
